        body {
            font-size: 20px;
            background-color: #f1f1f1;

        }
        
        p {
            margin: 20px 0px 0px 0px;
                            max-width: 600px;

            
        }
        
        #container {
            margin: 0px 20px;

        }
        button {
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            font-family: 'times new roman';
            margin-top: 5px;
            margin-right: 5px;
            border: 1px solid grey;
            background-color: #f1f1f1;
            transition: .1s ;
            outline: none;


        }

.section {
    display: inline-block;
    float: left;
    min-width: 360px;
    margin: 0;
}

#contact {
    margin:20px 0px 10px;
}





        button:hover {
        cursor: pointer;
        box-shadow: 4px 4px 10px #888888;

        }

        a {
            color: grey;
            text-decoration: none;
        }

a:hover {
    color: black
}


ol, ul {
    padding: 0;
    margin: 20px 0px 0px;
     max-width: 660px;


}

ol li {
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 5px;

}

li {
    margin-left: 20px;
    padding-bottom: 20px;
    
}




#style button {
            letter-spacing: 2px;
            background-image: linear-gradient(to top, lightgrey , #f1f1f1,lightgrey, #f1f1f1,lightgrey, #f1f1f1,lightgrey,#f1f1f1,lightgrey, #f1f1f1,lightgrey);
            
    
}

#style p {
    margin: 0;
    padding: 0;
        color: black;
        text-shadow: 5px 5px 2px #888888;

}


#responsive button  {
            width: 70%;
            height: 48px;
    
}


#responsive button  {
  text-align: justify;
}
#responsive button:after {
  content: "";
  display: inline-block;
  width: 70%;
    height: 10px;
}

#responsive button:hover  {
    
  width: 100%;

}

#animation p {
    margin: 0;
    padding: 0;
    color: black;
}
#animation button {
    border-radius: 0;
      -webkit-animation: animated2 4s ease infinite; /* Safari 4+ */
  -moz-animation:    animated2 4s ease infinite; /* Fx 5+ */
  -o-animation:      animated2 4s ease infinite; /* Opera 12+ */
  animation:         animated2 4s ease infinite; /* IE 10+, Fx 29+ */
}


@-webkit-keyframes animated2 {
  0%   { border-radius: 0; }
  50% { border-radius: 20px; }
  100% { border-radius: 0; }

}
@-moz-keyframes animated2 {
  0%   { border-radius: 0; }
  50% { border-radius: 20px; }
  100% { border-radius: 0; }
}
@-o-keyframes animated2 {
  0%   { border-radius: 0; }
  50% { border-radius: 20px; }
  100% { border-radius: 0; }
}
@keyframes animated2 {
  0%   { border-radius: 0; }
  50% { border-radius: 20px; }
  100% { border-radius: 0; }
}




@media only screen and (max-width: 600px) {

}



